@media screen and (max-width: 1440px) {
    .header {
        padding-top: 12px;
    }
    .menu__header {
        display: flex;
        flex-direction: column;
        width: 1214px;
        gap: 23px;
        margin-left: 50px;
    }
    .menu__header_top {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    .gumburger {
        display: none;
        background: none;
        border: none;
    }
    .header__navigation {
        display: flex;
        align-items: center;
        height: 33px;
        width: 396px;
    }
    .panel_gray {
        border-radius: 16px;
        background-color: var(--bg-grey);
    }
    .btn__navigation {
        border-radius: 16px;
        width: 98px;
        height: 36px;
        color: white;
        font-family: Roboto;
        font-size: 14px;
        line-height: 150%;
        text-align: center;
        margin-right: 7px;
        margin-top: 0;
    }
    .btn_blue {
        background-color: var(--bg-blue);
    }
    .svg-ball {
        fill: white;
        width: 10px;
        height: 10px;
        margin-right: 4px;
    }
    .menu__link {
        display: flex;
        align-items: center;
    }
    .gap_top {
        gap: 25px;
    }
    .menu__item {
        font-family: Roboto;
        font-size: 14px;
        line-height: 150%;
        text-align: center;
        color: var(--main-text);
    }
    .menu__item_last {
        display: none;
    }
    .hamburger {
        display: none;
        background: none;
        border: none;
        cursor: pointer;
    }
    .group-contacts__header {
        display: flex;
        align-items: center;
        height: 36px;
        gap: 14px;
    }
    .tel {
        height: 100%;
        padding: 6px 10px;
    }
    .phone__img {
        width: 24px;
        height: 24px;
    }
    .btn-contacts__header {
        border-radius: 16px;
        width: 154px;
        height: 100%;
        font-family: Roboto;
        font-size: 14px;
        line-height: 150%;
        text-align: center;
        color: var(--white);
    }
    .arrow_right {
        width: 24px;
        height: 24px;
    }

    .link__tel {
        font-family: Roboto;
        font-size: 14px;
        line-height: 150%;
        text-align: center;
        color: var(--main-text);
    }
    .menu__header_bottom {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 33px;
    }

    .gap_bottom {
        gap: 35px;
    }
    /*Панель предоставляемые услуги*/
    .panel {
        display: none;
        background: none;
        border: none;
    }
    .main {
        padding-top: 53px;
    }
    .stars__img {
        width: 19px;
        height: 19px;
    }
    .block__main_top {
        display: flex;
        gap: 250px;
    }
    .block__main_top-right {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }
    .text__seo {
        font-size: 18px;
        line-height: 100%;
        max-width: 290px;
    }
    .text_gray {
        font-weight: 400;
        color: var(--text-2);
    }
    .text_black {
        font-weight: 500;
        color: var(--main-text);
    }

    .block__main_middle {
        margin-top: 40px;
        display: flex;
        flex-wrap: wrap;
    }
    .seo__main {
        background-image: url('../public/images/frame/1.jpg');
        border-radius: 30px;
        width: 728px;
        height: 348px;
        padding-top: 15px;
        padding-left: 18px;
        padding-bottom: 12px;
        padding-right: 16px;
        background-repeat: no-repeat;
        background-size: 100%;
    }
    .menu__seo {
        display: flex;
        align-items: center;
    }
    .seo__main .menu__seo:first-of-type {
        margin-bottom: 6px;
    }
    .item__seo {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0px 10px;
        border-radius: 14px;
        height: 30px;
        border: 1px solid var(--white);
        backdrop-filter: blur(72.72222137451172px);
        box-shadow: inset 0 2px 2px 0 rgba(255, 255, 255, 0.15),
            inset 0 0 34px 0 rgba(255, 255, 255, 0.05);
        background-color: rgba(2, 93, 200, 0.45);
    }

    .item__seo_decor::after {
        content: '';
        display: block;
        background-color: white;
        width: 8px;
        height: 8px;
        border-radius: 100%;
    }

    .link__seo {
        font-size: 14px;
        line-height: 150%;
        color: var(--white);
    }
    .decor__seo {
        margin-top: 214px;
        margin-left: 7px;
        display: flex;
        align-items: center;
    }
    .decor__seo p {
        margin-left: 6px;
        margin-right: 271px;
        font-family: Segoe;
        font-weight: 600;
        font-size: 20px;
        line-height: 101%;
        color: var(--white);
    }
    .number__seo {
        display: block;
        text-align: center;
        background-color: var(--white);
        border-radius: 54px;
        padding: 10px;
        width: 42px;
        height: 42px;
    }
    .span__number {
        font-weight: 600;
        font-size: 18px;
        line-height: 100%;
        text-transform: uppercase;
        color: var(--main-text);
    }
    .accordion {
        display: flex;
        flex-direction: column;
    }

    .accordion-item {
        display: block;
        border-radius: 30px;
        width: 69px;
        height: 348px;
        overflow: hidden;
    }
    .accordion-item {
        background-color: var(--bg-blue);
        padding-top: 81px;
    }
    .accordion-item .is-open {
        padding-bottom: 10px;
    }

    .accordion-header {
        display: flex;
        padding-top: 60px;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 254px;
        cursor: pointer;
    }
    .accordion-item .is-open .accordion-header {
        min-height: 35px;
    }
    .h2__accordion-header {
        width: 143px;
        height: 18px;
        font-weight: 500;
        font-size: 18px;
        line-height: 100%;
        color: var(--white);
        transform: rotate(-90deg);
        text-shadow: 1px 4px 4px 0px rgba(12, 45, 93, 0.28);
    }
    .info-works {
        margin-top: 25px;
        display: flex;
        align-items: center;
        gap: 67px;
    }
    .text__info-works {
        font-weight: 500;
        font-size: 14px;
        line-height: 150%;
        color: var(--main-text);
    }
}
