@font-face {
    font-family: Roboto;
    src: url('/fonts/Roboto/static/Roboto-Regular.ttf');
    font-weight: 400;
}
@font-face {
    font-family: Roboto;
    src: url('/fonts/Roboto/static/Roboto-Medium.ttf');
    font-weight: 500;
}
@font-face {
    font-family: Roboto;
    src: url('/fonts/Roboto/static/Roboto-SemiBold.ttf');
    font-weight: 600;
}
@font-face {
    font-family: Roboto;
    src: url('/fonts/Roboto/static/Roboto-Bold.ttf');
    font-weight: 700;
}
@font-face {
    font-family: 'Roboto Mono';
    src: url('/fonts/Roboto_Mono/static/RobotoMono-Medium.ttf');
    font-weight: 500;
}
@font-face {
    font-family: Segoe;
    src: url('/fonts/Sergoe/segoe-ui-semibold.ttf');
    font-weight: 600;
}
@font-face {
    font-family: Inter;
    src: url('/fonts/Inter/static/Inter_18pt-Medium.ttf');
    font-weight: 500;
}
body {
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 16px;
}

* {
    padding: 0px;
    margin: 0px;
    border: 0px;
}
*,
*::after,
*::before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    min-width: 350px;
}
a {
    color: inherit;
}
a:link,
a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
input,
button,
textarea {
    font-size: inherit;
}
button {
    cursor: pointer;
    color: inherit;
    background-color: inherit;
}

ul li {
    list-style: none;
}
img {
    vertical-align: top;
}
img {
    max-width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}
:root {
    --bg-blue: #0c47a0;
    --bg-grey: #f4f4f4;
    --main-text: #393939;
    --text-2: #939393;
    --secondary2-transparent: #e4e4e4;
    --white: white;
    --additionally: #f4f4f4;
}
@media screen and (max-width: 2000px) {
    [class*='__container'] {
        max-width: 1840px;
        margin: 0px auto;
        padding: 0px 20px;
    }
}
@media screen and (max-width: 1440px) {
    [class*='__container'] {
        max-width: 1350px;
        margin: 0px auto;
        padding: 0px 20px;
    }
}
@media screen and (max-width: 1194px) {
    [class*='__container'] {
        max-width: 1126px;
        margin: 0px auto;
        padding: 0px 10px;
    }
}
@media screen and (max-width: 768px) {
    [class*='__container'] {
        max-width: 720px;
        margin: 0px auto;
        padding: 0px 10px;
    }
}
@media screen and (max-width: 390px) {
    [class*='__container'] {
        max-width: 372px;
        margin: 0px auto;
        padding: 0px 10px;
    }
}
