@media screen and (min-width: 391px) and (max-width: 1194px) {
    .menu__header {
        display: flex;
        flex-direction: column;
        width: 1017px;
        gap: 26px;
        margin-left: 49px;
    }
    .menu__item:nth-child(6n),
    .menu__item:nth-child(7n),
    .menu__item:nth-child(8n) {
        display: none;
    }

    .menu__item_last {
        display: flex;
        align-items: center;
        gap: 3px;
        width: 125px;
        height: 33px;
    }
    .header__link_last {
        font-size: 14px;
        line-height: 150%;
        color: #0c47a0;
    }

    .block__main_top {
        gap: 187px;
    }
    .block__main_top-left {
        width: 649.87px;
        height: 127.44px;
    }
    .text__seo {
        font-size: 16px;
        max-width: 260px;
    }
    .seo__main {
        width: 614px;
        padding-top: 15px;
        padding-left: 17px;
        padding-bottom: 11px;
        padding-right: 14px;
    }
    .item__seo {
        height: 29px;
    }
    .item__seo_decor::after {
        background-color: transparent;
        width: 6px;
        height: 6px;
    }
    .seo__main .menu__seo:first-child .item__seo:first-child {
        width: 41px;
    }
    .seo__main .menu__seo:first-child .item__seo:nth-child(2) {
        width: 142px;
    }
    .decor__seo {
        margin-top: 220px;
        margin-left: 6px;
    }
    .decor__seo p {
        margin-left: 11px;
        margin-right: 166px;
    }
    .number__seo {
        width: 35px;
        height: 35px;
    }
    .info-works {
        margin-top: 29px;
        gap: 0;
    }
    .text__info-works:first-of-type {
        margin-right: 67px;
    }
    .text__info-works:last-of-type {
        margin-left: 70px;
    }

    /*Начало секции аудит*/
    .section__audit {
        padding-top: 43px;
    }
    .block__audit_all {
        gap: 25px;
    }
    .h2__audit {
        font-size: 1.875rem;
        width: 229px;
    }
    .block-info__audit {
        gap: 17px;
    }

    .item-info__audit_flex {
        width: 188px;
        height: 87px;
    }
    .item__audit_hidden1,
    .item__audit_hidden2,
    .item__audit_hidden3,
    .item__audit_hidden4 {
        display: none;
    }
    .item__audit_hidden5,
    .item__audit_hidden6,
    .item__audit_hidden7,
    .item__audit_hidden8 {
        display: flex;
    }
    .block-img__audit {
        width: 54px;
        height: 54px;
    }
    .img__audit5 {
        width: 25px;
        height: 25px;
    }
    .img__audit6 {
        width: 28px;
        height: 28px;
    }
    .img__audit7 {
        width: 39px;
        height: 39px;
    }
    .img__audit8 {
        width: 31px;
        height: 31px;
    }

    /*Конец секции аудит*/
}
